<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueceu sua senha?</title>
</head>
<body>
  <table>
    <thead>
      <td>
        <tr>Olá {{user}}, tudo bem ?</tr>
      </td>
    </thead>
    <tbody>
      <td>
        <tr>Acesso a plataforma através da senha abaixo.</tr>
        <tr><h3>{{password}}</h3></tr>
      </td>
    </tbody>
  </table>
</body>
</html>