<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitação Aprovada</title>
</head>
<body>
  <table>
    <thead>
      <td>
        <tr>Olá {{user}}, tudo bem ?</tr>
      </td>
    </thead>
    <tbody>
      <td>
        <tr>Sua solicitação foi aprovada</tr>
      </td>
    </tbody>
  </table>
</body>
</html>